<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
 <sitecore>
  <pipelines>
   <httpRequestBegin>    
    <processor type="SharedSource.RedirectModule.Redirects,SharedSource.RedirectModule" patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']"/>
   </httpRequestBegin>  
  </pipelines>

  <settings>
   <!--  Query Type
            When querying for matches, the module supports different query types.
            Supported values: 
              fast  -   The query will use Sitecore's fast query which goes straight to the database. 
                        Do not use this if you are using multilingual redirects.
              query -   The query will use the standard Sitecore query syntax. 
              api   -   The query will locate the redirect root node and then use GetDescendants.
              Default value: api
              
              You can also use different query types for the exact match query and the pattern match query.
      -->
   <setting name="SharedSource.RedirectModule.QueryType.ExactMatch" value="api"/>   
   <setting name="SharedSource.RedirectModule.QueryType.Pattern" value="api"/>

   <!--  Redirection Types
            The module supports for exact match redirects and regular expression matches.  All exact matches are
            tested first then the patterns are tested.  If you only intend to use one type, you can disable the other.
              true  -   Enable this type of redirect
              false -   Disable this type of redirect
              Default value: true
      -->
   <setting name="SharedSource.RedirectModule.RedirectionType.ExactMatch" value="true"/>
   <setting name="SharedSource.RedirectModule.RedirectionType.Pattern" value="true"/>

   <!--  RedirectRootNode
            The module stores the rules as items in the Sitecore tree.  You can move the root node if needed.
              Default value: /sitecore/system/Modules/Redirect Module
      -->
   <setting name="SharedSource.RedirectModule.RedirectRootNode" value="/sitecore/system/Modules/Redirect Module"/>
    
	<!-- External Host Redirects
	         Pipe seperated list of non-Sitecore hostnames that are bound in IIS that you want to allow redirects from. Eg. "mydomain.org|www.myotherdomain.org"
      -->
   <setting name="SharedSource.RedirectModule.ExternalHosts" value="mydomain.org|www.myotherdomain.org"/>
   
   <setting name="SharedSource.RedirectModule.ExternalHosts.NotFoundUrl" value="http://mydomain.org/Page-Not-Found"/>
   
   <!-- Redirect Cache
	         Max Cache Size set in Megabytes
      -->
   <setting name="SharedSource.RedirectModule.MaxCacheSize" value="5MB"/>
   
	<!-- MaxMind Database config. 
			Set MaxMindType to "0" to disable it, set it to "1" to use database or "2" to use the web service 
	-->
   <setting name="SharedSource.RedirectModule.MaxMindType" value="1"/>
   
   <!-- MaxMind Database config. 
			Set MaxMindDatabasePath to the path of the database on the file system Eg: C:\inetpub\wwwroot\SitecoreInstance\Data\GeoIP2\GeoIP2-Country.mmdb 
	-->
   <setting name="SharedSource.RedirectModule.MaxMindDatabasePath" value=""/>
  
   <!-- MaxMind Web Service config. 
			Replace "42" with your user ID and "license_key" with your license 
	-->
   <setting name="SharedSource.RedirectModule.MaxMindWebServiceUserID" value="42"/>
   <setting name="SharedSource.RedirectModule.MaxMindWebServiceLicenseKey" value="license_key"/>
  </settings>
 </sitecore>
</configuration>
